#main-form {
	margin-left: auto;
	margin-right: auto;
}
#stock-symbol-entry {
	width: 80%;
}
#add-button {
	width: 15%;
}

input.value-field {
	width: 6em;
}
.suggestion-value-cell {
	text-align: right;
}

img.loading {
	height: 1ex;
}

img.issue-icon {
	max-height: 1.6ex;
	max-width: 1.6ex;
	display: inline;
}

.score-cell, .suggestion-score-cell {
	text-align: center;
}

.delete-button {
	visibility: hidden;
	cursor: pointer;
}
tr:hover .delete-button {
	visibility: visible;
}

.spacer {
	width: 3em;
	border: 0;
}

#output-dummy {
	color: #999999;
}
