#main-form {
	margin-left: auto;
	margin-right: auto;
}
#stock-symbol-entry {
	width: 80%;
}
#add-button {
	width: 15%;
}

#status {
	margin-top: 0.5ex;
	height: 2ex;
	color: red;
	font-size: small;
}

input.value-field {
	width: 6em;
}
.suggestion-value-cell {
	text-align: right;
}

img.loading {
	height: 1ex;
}

img.issue-icon {
	max-height: 1.6ex;
	max-width: 1.6ex;
	display: inline;
}

.score-cell, .suggestion-score-cell {
	text-align: center;
}

.delete-button {
	visibility: hidden;
	cursor: pointer;
}
tr:hover .delete-button {
	visibility: visible;
}

.spacer {
	width: 3em;
	border: 0;
}

#output-dummy, #industry-dummy {
	color: #999999;
}

/* Style the tab */
.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
height: 50px;
position: relative;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}

/* Centralize tab */
.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}

tr.bad-output {
	color: #999999;
}
tr.bad-output .delete-button {
	visibility: visible;
}

#industry-form {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
